# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
output
backstop_data/bitmaps_test
backstop_data/html_report
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

release/

.env

# Add PNPM specific entries
.pnpm-store/
.pnpm-cache/
pnpm-debug.log
# Sentry Config File
.env.sentry-build-plugin
